


<div class="mt-5">
  <form method="GET" action="/news">
    <div class="form-group">
      <label for="search-input">Từ khoá</label>
      <input
        type="text"
        class="form-control"
        name="q"
        id="search-input"
        placeholder="Nhập từ khoá..."
      />
    </div>

    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>